$article-width: 350px
.home-article
  display: flex
  &-left
    width: 50%
    padding: 15px
    img
      width: 100%
  &-right
    width: 50%
    display: flex
    flex-direction: column
    justify-content: center
    padding: 15px
    .tags
      color: $tag-color
      font-weight: bolder
      display: flex
      justify-content: center
      align-items: center
      margin-bottom: 15px
      font-size: 18px
      div
        &:after
          content: "\A"
          width: 6px
          height: 6px
          border-radius: 50%
          background: white
          display: inline-block
          margin: 0 6px
          vertical-align: middle
        &:last-of-type
          &:after
            content: ""
            width: 0
            height: 0
            margin: 0
    span
      margin-right: 8px
      font-size: 14px
    .articleInfo
      color: $text-gray
      font-size: 14px
.articles
  display: flex
  max-width: 100%
  flex-wrap: wrap
  justify-content: center
.article
  background-color: $article-background
  width: $article-width
  height: calc(#{$article-width} - 25px)
  display: flex
  flex-direction: column
  margin: 20px
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
  position: relative
  border-radius: 5px
  &-link
    position: absolute
    height: 100%
    width: 100%
    left: 0
    top: 0
  img
    height: 140%
    object-fit: cover
    border-top-left-radius: 5px
    border-top-right-radius: 5px
  &-lower
    padding: 22px
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    h3
      font-size: 22px
      font-weight: normal
    &-subInfo
      display: flex
      justify-content: space-between
      .tags
        color: $tag-color
        font-weight: bolder
        span
          margin-right: 8px
          font-size: 14px
      .date
        color: $text-gray