nav {
  width: 100%;
  display: flex;
  font-size: 24px;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 100px;
}
nav a {
  text-decoration: none;
  margin-right: 20px;
  color: white;
}
nav .is-active {
  color: pink;
}

.home-article {
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
.home-article .article-link {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.home-article-left {
  width: 50%;
  padding: 0 15px;
}
.home-article-left img {
  width: 100%;
  border-radius: 5px;
}
.home-article-right {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 15px;
}
.home-article-right h1 {
  text-align: left;
}
.home-article-right .perex {
  color: #BEBBBB;
  height: 40%;
  font-size: 18px;
}
.home-article-right .tags {
  color: #3dd07d;
  font-weight: bolder;
  display: flex;
  margin-bottom: 10px;
  font-size: 16px;
}
.home-article-right .tags div:after {
  content: "\a";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}
.home-article-right .tags div:last-of-type:after {
  content: "";
  width: 0;
  height: 0;
  margin: 0;
}
.home-article-right span {
  margin-right: 8px;
  font-size: 14px;
}
.home-article-right .articleInfo {
  color: #B6B3B3;
  font-size: 14px;
}

.articles {
  display: flex;
  max-width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.article {
  background-color: #0F3460;
  width: 350px;
  height: calc(350px - 25px);
  display: flex;
  flex-direction: column;
  margin: 20px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  position: relative;
  border-radius: 5px;
}
.article-link {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
}
.article img {
  height: 140%;
  object-fit: cover;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.article-lower {
  padding: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}
.article-lower h3 {
  font-size: 22px;
  font-weight: normal;
}
.article-lower-subInfo {
  display: flex;
  justify-content: space-between;
}
.article-lower-subInfo .tags {
  color: #3dd07d;
  font-weight: bolder;
}
.article-lower-subInfo .tags span {
  margin-right: 8px;
  font-size: 14px;
}
.article-lower-subInfo .date {
  color: #B6B3B3;
}

.articleView {
  width: 600px;
}
.articleView .main-img {
  max-width: 150%;
  max-height: 500px;
  width: auto;
  height: auto;
  border-radius: 5px;
  margin-left: 50%;
  transform: translateX(-50%);
  display: block;
  margin-bottom: 30px;
}
.articleView h1 {
  font-size: 30px;
  font-weight: bold;
}
.articleView .tags {
  color: #3dd07d;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 15px;
  font-size: 18px;
}
.articleView .tags div:after {
  content: "\a";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
  display: inline-block;
  margin: 0 6px;
  vertical-align: middle;
}
.articleView .tags div:last-of-type:after {
  content: "";
  width: 0;
  height: 0;
  margin: 0;
}
.articleView span {
  margin-right: 8px;
  font-size: 14px;
}
.articleView .articleInfo {
  color: #B6B3B3;
  font-size: 14px;
}
.articleView .content {
  margin-top: 30px;
  font-size: 18px;
}

form {
  width: 400px;
}
form .input-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
form .input-wrapper label {
  font-size: 20px;
  margin-bottom: 5px;
  margin-left: 1px;
}
form .input-wrapper input {
  font-size: 18px;
  padding: 10px 15px;
  border: 1px gray solid;
  border-radius: 5px;
  background-color: inherit;
  color: white;
}
form .input-wrapper input:focus {
  outline: 1px white solid;
}

button {
  cursor: pointer;
  padding: 5px;
  margin-top: 5px;
}
button[type=submit] {
  width: 100%;
  border: 0;
  border-radius: 5px;
  margin-top: 25px;
  font-size: 18px;
  color: white;
  background-image: linear-gradient(to right, #AA076B 0%, #61045F 51%, #AA076B 100%);
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  display: block;
}
button[type=submit]:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  background-color: #16213E;
  color: white;
}

.main-wrapper {
  max-width: 1200px;
  margin: auto;
}

h1 {
  text-align: center;
  margin-bottom: 25px;
  font-weight: normal;
}

/*# sourceMappingURL=index.css.map */
